.container {
    width:100%;
    border:1px solid #d4af37;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#242424;
    color:#d4af37;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
